body 
{
 text-align: center;
 font-family: Arial;
 font-size: 10pt;
}
.topNav
{
	padding: 0px 0px 0px 20px;
}
.header
{
	text-align: left; 
	margin: 20px 0px 20px 0px; 
}
.footer
{
	margin: 20px 0px 20px 0px;
}